.App {
  text-align: center;
}

.main{
  height: 720px;
  
}
.main1{
  
  height: 620px;
 
}
.disBoox{

}
ul{
  padding-top: 25px;
  padding-bottom: 15px;
}
ul li{
  display: inline;
  list-style: none;
  padding-top: 50px;
}
.link{
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 30px;
}
.link:hover{
  color: rgb(100, 100, 184);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main1{
  position: relative;
  width: 100%;
  height:100% ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */
@media screen and (max-width: 992px) {
   *{
    margin-top: 10px;
    width: 100%;

   }
   
  
  .main1{
    position: relative;
    width: 100%;
    height:100% ;
  }
 
}